@import "../../abstracts/variables/colors";
@import "../../abstracts/variables/typography";
@import "../../abstracts/variables/breakpoints";
@import "../../abstracts/mixins/mixins";

.about-us h2,
.restaurant-info h2 {
  margin: 0;
  padding: 2rem 0 1.5rem 0;
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  text-align: center;
}

.about-us {
  display: block;
  margin: 0;
  color: white;

  .right {
    background-color: #222222;
    p {
      margin: 0;
      padding: 0 2rem 2rem 2rem;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
    }
  }
  img {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.restaurant-info {
  display: block;
  color: white;
  .left {
    background-color: #222222;
    .header {
      padding: 0 2rem 0 2rem;
      font-style: italic;
    }
    .origins {
      padding: 0 2rem 2rem 2rem;
      margin: 0;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
    }
  }
  img {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (min-width: $desktop-size) {
  .about-us {
    display: flex;
    flex-wrap: wrap;

    .right {
      width: 70%;
    }

    img {
      width: 30%;
    }
  }

  .restaurant-info {
    border-top: pink 1px solid;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    .left {
      width: 50%;
    }
    img {
      width: 50%;
      object-fit: cover;
    }
  }
}
