@import "../../abstracts/variables/colors";
@import "../../abstracts/variables/typography";
@import "../../abstracts/mixins/mixins";

.page-careers {
  background-color: #222222;
  padding: 0;

  .post-thumbnail {
    img {
      width: 100%;
      height: auto;
    }
  }

  .filter-tabs {
    display: inline-block;
    border: 2px solid #41b2dc;
    border-radius: 5px;
    width: clamp(20rem, 80%, 40rem);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    .tab {
      border: none;
      background-color: transparent;
      font-size: 1.4rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
      &:hover {
        color: #41b2dc;
      }
    }
  }

  .article-wrapper {
    margin: 1rem 0;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    article {
      margin: 1rem;
      max-width: 40rem;
      background-color: #ffffff;
      color: #222222;

      .interactions {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        p {
          margin: 0;
        }
        a {
          margin: 0;
          color: #222222;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-careers {
  }
}
