@import "../../abstracts/variables/colors";
@import "../../abstracts/variables/typography";
@import "../../abstracts/mixins/mixins";

.page-careers {
  background-color: #222222;
  padding: 0;

  .post-thumbnail {
    img {
      display: block;
      margin: 0;
      min-height: 300px;
      max-height: 700px;
      width: 100%;
      object-fit: cover;
    }
  }

  .filter-tabs {
    display: inline-block;
    border: 2px solid #41b2dc;
    border-radius: 5px;
    width: clamp(20rem, 80%, 40rem);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    .tab {
      border: none;
      background-color: transparent;
      font-size: 1.4rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
      &:hover {
        color: #41b2dc;
      }
    }
  }

  .article-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
    article {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      position: relative;
      color: #222222;

      img {
        display: block;
        margin: 0 auto;
      }
      .right {
        background-color: #ffffff;

        .description {
          margin: 1rem;
        }

        .interactions {
          display: flex;
          justify-content: space-between;
          .status {
          }
          a {
            color: #222222;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 495px) {
  .page-careers {
    .article-wrapper {
      article {
        max-width: 38rem;
        background-color: #ffffff;
        flex-direction: row;
        margin: 1rem;
        img {
          object-fit: cover;
          height: auto;
        }
      }
    }
  }
}
