@import "abstracts/abstracts";

.restaurant-card{
  background-color: #8AD0EF;
  margin: 2rem 0 0 0;
  padding: 1rem;
  text-align: center;
}

.restaurant-card img{
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.restaurant-card h2{
  display: inline;
  margin: 0;
  text-align: center;
  margin-right: 2.3rem;
}

.restaurant-card p{
  margin: 0 auto;
}


@media (min-width: $tablet-size){

.info-map{
  width: 45%;
}

.restaurant-card img{
 margin-right: 1rem;
}

.restaurant-page{
  display: flex;
  justify-content: space-evenly;
}

.restaurant-card{
  margin:  1;
  padding: 1.1rem;
}

.restaurant-card h2{
  font-size: 1.5rem;
}



@media (min-width: $tablet-size){
  
}

@media (min-width: $desktop-size){
    .restaurant-card{
      padding: 2.1rem;
    }

    .restaurant-card img{
      max-width: 1.3rem;
      margin-right: 1rem;
      transform: translateY(3px);
    }

    .restaurant-card h2{
      font-size: 2.5rem;
    }

    .restaurant-card p{
      font-size: 1.2rem;
      padding: 0 2.1rem;
    }
  }

}