@import "abstracts/abstracts";

.restaurant-card{
  background-color: #8AD0EF;
  margin: 2rem 0 0 0;
  padding: 1rem;
  
}

.restaurant-card img{
  max-width: 0.8rem;
  margin-right: 0.8rem;
}

.restaurant-card h2{
  display: inline;
}

.restaurant-card p{
  margin: 0 auto;
}

@media (min-width: $tablet-size){

  .restaurant-card{
  margin: 3rem 0 0 0;
  padding: 2rem;
}

.restaurant-card h2{
  font-size: 2rem;
}

.restaurant-card p{
  display: inline;
  padding: 0 1.5rem;
}

}

@media (min-width: $desktop-size){
  .restaurant-card{
    padding: 2.5rem;
  }

  .restaurant-card img{
    max-width: 1.5rem;
    margin: 0.3rem;
    transform: translateY(10px);
  }

  .restaurant-card h2{
    font-size: 2.5rem;
  }

  .restaurant-card p{
    font-size: 1.4rem;
    padding: 0 2.3rem;
  }
}