@import "abstracts/abstracts";

.page-id-90 header,
.page-id-90 footer{
    display: none;
}

.bg-container{
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: -999999;
    position: absolute;
}

.bg-image {
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    z-index: -999;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    filter: brightness(35%);
}

.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
        .splash-logo{
            width: 250px;
        }
}

.splash-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-height: 100vh;

    .splash-location-selector{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 1.15rem;
        }
    }

    .city-label{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2rem;
        transition: 0.25s;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
        padding-top: 1rem;

        &:hover,
        &:active{
            color: #fef9a8;
        }
    }

    .location-splash{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        input{
            margin-top: 1rem;
        }
    }
}

@media(min-width: $desktop_size){
    .splash-form{
        .splash-location-selector{
            h2{
                font-size: 2rem;
            }
        }
        .location-splash{
            .city-label{
                font-size: 2rem;
            }
        }
    }

    .logo-container{
        .splash-logo{
            width: 350px;
        }
    }
}
