@import "abstracts/abstracts";

.page-id-90 header,
.page-id-90 footer{
    display: none;
}

.bg-container{
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: -999999;
    position: absolute;
}

.bg-image {
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    z-index: -999;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    filter: brightness(50%);
}

.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
        .splash-logo{
            width: 250px;
        }
}

.splash-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-top: 10rem;

    .splash-location-selector{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 1.15rem;
        }
    }

    .location-splash{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        input{
            margin-top: 1rem;
        }

        .city-label{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.5rem;
            transition: 0.3s;
            cursor: pointer;

            &:hover,
            &:active{
                color: #ff2c23;
            }
        }

        .location-submit {
            text-transform: uppercase;
            transition: 0.3s;
            cursor: pointer;
            background-color:#fef9a8;
            color: black;
            border: 0;

            &:hover,
            &:active{
                background-color: black;
                color: #fef9a8;
            }
        }
    }
}

@media(min-width: $desktop_size){
    .splash-form{
        .splash-location-selector{
            h2{
                font-size: 2rem;
            }
        }
        .location-splash{
            .city-label{
                font-size: 2rem;
            }
        }
    }

    .logo-container{
        .splash-logo{
            width: 350px;
        }
    }
}
