header{
    border-bottom: black 5px solid;
}

.show{
    display: none;
}

.location-switcher{
    color: black;
    background-color: #8AD0EF;
    display: flex;
    padding: 1rem 0.5rem;
}

.location-switcher h2{
    margin: 0;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.switch-location-btn{
    background-color: transparent;
    padding: 0;
    border: 0;
    margin-left: 1.8rem;
}

.location-dropdown{
    background-color: #8AD0EF;
    width: 100%;
    position: absolute;
    top: 3.8rem;
    left: 0;
    z-index: 9999;
}

fieldset{
    border: 0;
}

.attachment-full{
    width: 75px;
    max-width: auto;
}

.main-navigation{
    display: flex;
    justify-content: space-evenly;
}
.nav-menu{
    position: absolute;
    background-color: #8AD0EF;
    color: white;
    width: 100%;
    height: 75dvh;
    top: 13.8rem;
    left: 0;
    display: flex;
    z-index: 999;
}

.nav-menu li, 
.nav-menu a{
    font-size: 2rem;
    padding: 0.5rem;
}

.menu-toggle{
    border: none;
    margin-left: 10rem;
}

@media(min-width: 37.5em){
    .nav-menu{
        position: relative;
        height: auto;
        width: auto;
        top: 0;
        background-color: transparent;
            li{
                a{
                    font-size: 1rem;
                    padding-right: 0.5rem;
                }
            }
    }
}

